@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.5;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
}

h1 {
  color: white;
  padding: 30px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}

nav {
  height: 50px;
  background-color: rgb(18, 18, 18);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.nav-items {
  display: flex;
  align-items: center;
}
.navb {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 calc((100vw - 1300px) / 2);
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0 1.5rem;
}

nav a:hover {
  color: rgb(237, 203, 155);
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav-items {
  display: flex;
}

.nav-items.collapsed {
  display: none;
}

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 3px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: linear-gradient(135deg, #1d1944, #302b63, #2b687abb);
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #302c63 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #204a59;
}

.timeline-item {
  border-radius: 10px;
}

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.date-p{
  font: 1.2rem;
  font-style: italic;
  padding-bottom: 5px;
}

.timeline ul li.in-view::after {
  background: linear-gradient(135deg, #a4ebbd, #7ec8a3, #4da07c);
  box-shadow: 0 2px 5px rgba(34, 114, 72, 0.1);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


.job-details {
  margin-top: 10px;
}

.job-details li {
  font-size: 0.875rem;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #c3d1e1 transparent transparent;
  }
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.icon-image {
  width: 50px;
  height: 50px;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.centered-text p {
  font-size: 24px;
  color: white;
  opacity: 0;
  animation: fadeAnimation 1s ease-in-out forwards;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2{
  font-size: 1.5rem;
}

.projects{
  background: linear-gradient(180deg, black, black, #104345); 
  padding: 2rem;
  margin: 0 auto;
  padding-top: 0rem;
}


.course-content {
  margin-bottom: 2rem;
}

.course-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

.course-content ul {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.course-content li {
  margin-bottom: 0.5rem;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.course-card {
  background-color: #23898d;
  border-radius: 10px;
  padding: 2.5rem;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.course-card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.course-card ul {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.course-card li {
  margin-bottom: 0.5rem;
  color: white;
}

.timeline p{
  font-size: 0.7rem;
}

@media screen and (max-width: 768px) {
  .course-card {
    width: 100%;
    margin: 1rem 0;
  }
}

.navb {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
  background-color: rgb(18, 18, 18);
}

header {
  background-color: black;
  padding: 2rem;
  color: white;
  text-align: center;
}

.button {
  padding: 1rem 3rem;
  font-size: 1rem;
  color: #050505;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background: white;
  color: black;
}

.icon-image {
  width: 50px;
  height: 50px;
}

.white-icon {
  filter: invert(1) brightness(100%);
}

.edu-back{
  background: linear-gradient(180deg, rgb(84, 1, 1), black); 
  width: 100vw;
}

.education {
    padding: 5%;
    width: 40%;
}
.school-logo {
  margin-left: 5%;
}

.card {
  display: flex;
  direction: row;
  margin: 30px;
  margin-top: 0;
  justify-content: center;
}

.card img {
  display: flex;
  justify-content: center;
  width: 90%;
  height: auto;
}

.project-section .project-img{
  width: 40%;
  padding: 20px;
}

.project-section{
  padding-left: 5%;
  padding-right: 5%;
}


@media (max-width: 1000px) {
  .nav-items {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: rgb(18, 18, 18);
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem 1rem;
  }

  .nav-items a {
      padding: 1rem 0;
  }

  .menu-icon {
      display: block;
  }

  .nav-items.expanded {
      display: flex;
  }
}

@media (max-width: 810px){
  .card {
    flex-direction: column;
  }

  .project-section .project-img {
    display: none;
}

  .card img{
    width: 40%;
    height: auto;
    margin-left: 30%;
  }
  
  .education{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    align-items: center;;
  }

  .course-card h2{
    font-size: 1rem;
    text-align: center;
  }
  
  .course-card ul{
    padding-left: 0;
  }
  .course-card li{
    font-size: 0.8rem;
  }

  h1{
    font-size: 1.5rem;
  }

  h2{
    font-size: 1.25rem;
  }

  h3{
    font-size: 1rem;
  }

  p{
    font-size: 0.7rem;
  }

  nav{
    padding: 0 1rem;
  }

  .icon-image {
    width: 35px;
    height: 35px;
  }

  .button{
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
  }
  
  .navb{
    padding: 0 0;
  }
}