@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.5;
  background-color: #000;
  color: #fff;
}

h1 {
  color: white;
  padding: 30px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}

nav {
  height: 50px;
  background-color: rgb(18, 18, 18);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-items {
  display: flex;
  align-items: center;
}
.navb {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 calc((100vw - 1300px) / 2);
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0 1.5rem;
}

nav a:hover {
  color: rgb(237, 203, 155);
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav-items {
  display: flex;
}

.nav-items.collapsed {
  display: none;
}


.timeline {
  position: relative;
  padding: 2rem 0;
}

.timeline::before {
  content: "";
  background: #c5cae9; /* Light primary color */
  width: 5px;
  height: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
  position: relative;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
  top: -35px;
  background: linear-gradient(
    -140deg,
    #3f51b5,
    #1e244a
  ); /* Gradient background */
}

.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #1e244a transparent transparent;
}

.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  margin: 40px;
  width: 40%;
  padding: 20px 40px;
  border-radius: 20px;
  background: linear-gradient(
    140deg,
    #3f51b5,
    #1e244a
  ); /* Gradient background */
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #1e244a;
}

.timeline-img {
  width: 80px;
  height: auto;
  background: #d5d7e4;
  border-radius: 10%;
  border: 4px solid #d5d7e4;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.job-details {
  margin-top: 10px;
}

.job-details li {
  font-size: 0.875rem;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }

  .timeline-img {
    left: 50px;
  }

  .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }

  .timeline-item:nth-child(even) .timeline-content::after {
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }

  .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }

  .timeline-item:nth-child(odd) .timeline-content::after {
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #ddd;
}

img {
  max-width: 100%;
  border-radius: 10%;
  height: auto;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.icon-image {
  width: 50px;
  height: 50px;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.centered-text p {
  font-size: 24px;
  color: white;
  opacity: 0;
  animation: fadeAnimation 1s ease-in-out forwards;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.projects,
.resume-section,
.course-content {
  background-color: black;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 0rem;
}

.project-section,
.resume-section {
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.project-section h2,
.resume-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

.project-section p,
.resume-section p {
  text-indent: 50px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: white;
  text-align: left;
  margin: 40px;
  margin-bottom: 0px;
}

.course-content {
  margin-bottom: 2rem;
}

.course-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

.course-content ul {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.course-content li {
  margin-bottom: 0.5rem;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.course-card {
  background-color: #18273b;
  border-radius: 10px;
  padding: 2.5rem;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.course-card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.course-card ul {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.course-card li {
  margin-bottom: 0.5rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .course-card {
    width: 100%;
    margin: 1rem 0;
  }
}

.navb {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
  background-color: rgb(18, 18, 18);
}

header {
  background-color: black;
  padding: 2rem;
  color: white;
  text-align: center;
}

.button {
  padding: 1rem 3rem;
  font-size: 1rem;
  color: #050505;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  margin-left: 60px;
}

.button:hover {
  background: white;
  color: black;
}

.icon-image {
  width: 50px;
  height: 50px;
}

.white-icon {
  filter: invert(1) brightness(100%);
}

.education {
    padding: 5%;
    width: 40%;
}
.school-logo {
  margin-left: 5%;
}

.card {
  display: flex;
  direction: row;
  margin: 30px;
  margin-top: 0;
  justify-content: center;
}

.card img {
  display: flex;
  justify-content: center;
  width: auto;
  height: 70%;
}


/* Responsive Styles */
@media (max-width: 1000px) {
  .nav-items {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: rgb(18, 18, 18);
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem 1rem;
  }

  .nav-items a {
      padding: 1rem 0;
  }

  .menu-icon {
      display: block;
  }

  .nav-items.expanded {
      display: flex;
  }
}
