@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
.info {
    height: 90vh;
    background-color: black;
    align-items: center;
    display: flex;
    padding: 50px;
}

nav {
    height: 50px;
    background-color: rgb(18, 18, 18);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-items {
display: flex;
align-items: center;
}

.navb {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2rem;
    background-color: rgb(18, 18, 18);
    position: relative;
    width: 100%;
    margin-top: 100px;
    bottom:0;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
  }
  
  nav a:hover {
    color: rgb(237, 203, 155);
  }
  
  .menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .nav-items {
    display: flex;
  }
  
  .nav-items.collapsed {
    display: none;
  }
  
img{
    height: 300px;
    width: auto;
}

.logo-image{
    height: 100px;
    margin-right: 10px;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;
    color: #f9f9f9;
    align-items: center;
    text-align: center;
    background-color: black;
}

header {
    background-color: #fdcc84;
    color: #fff;
    text-align: center;
    padding-top: 80px;
}

.title {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.subtitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}


.icon-image {
    width: 50px;
    height: 50px;
}

.white-icon {
    filter: invert(1) brightness(100%);
}

/* Responsive Styles */
@media (max-width: 1000px) {
    .nav-items {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: rgb(18, 18, 18);
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 1rem;
    }
  
    .nav-items a {
        padding: 1rem 0;
    }
  
    .menu-icon {
        display: block;
    }
  
    .nav-items.expanded {
        display: flex;
    }
  }
  