*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

nav{
    height: 80px;
    background: #fdcc84;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.navb{
    height: 80px;
    background: #fdcc84;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a{
   text-decoration: none;
   color: black;
   padding:0  1.5rem; 
}

nav a:hover{
    color: white;
}

/* .hero{
    background: #fdcc84;
} */

.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px)/2);
    margin-bottom: 0;
    margin-top: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.column-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 2rem;
}

.column-left h1{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.button{
    padding: 1rem 3rem;
    font-size: 1rem;
    color: #fdcc84;
    background-color: black;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none; 
    display: inline-block; 
}

button:hover{
    background: white;
    color: black;
}

.column-right{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0rem 2rem;
}

.hero-image{
    width: 100%;
    height: 100%;
}

img{
    height: 400px;
    width: auto;
}

.logo-image{
    height: 100px;
    margin-right: 10px;
}

.indented-paragraph{
    text-indent: 100px;
}

.title {
    font-size: 2em;
    color: #333;
}

.line {
    border-top: 1px solid black; 
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;
    color: #f9f9f9;
    align-items: center;
    text-align: center;
}

header {
    padding: 2rem;
    background-color: #fdcc84;
    color: #fff;
    text-align: center;
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.subtitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.education {
    padding: 2rem;
}

.education li {
    margin-bottom: 0.5rem;
}

.education li:last-child {
    margin-bottom: 0;
}
.skills li {
    margin-bottom: 0.5rem;
}

.skills li:last-child {
    margin-bottom: 0;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 5px;
}

.background-img {
    display: block;
    top: 225px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.icon-image {
    width: 50px;
    height: 50px;
}

.course-content {
  margin-bottom: 20px;
}

.course-content h2 {
  margin-bottom: 10px;
}

.course-content ul {
  margin-bottom: 15px;
}

.course-content li {
  margin-bottom: 5px;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width:80%
}

.centered-text p {
    font-size: 24px;
    color: white;
    opacity: 0;
    animation: fadeAnimation 1s ease-in-out forwards;
}

@keyframes fadeAnimation{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.projects {
    background-color: black;
    padding-bottom: 50px;
    margin-top: -20px;
}

.project-section {
    margin: 20px 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.project-section p {
    text-indent: 50px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: white;
    text-align: left;
}

.resume-section {
    margin: 20px 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.resume-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.resume-section p {
    text-indent: 50px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: white;
    text-align: left;
}
  
@media screen and (max-width: 760px){
    .hero-container{
        grid-template-columns: 1fr;
    }

    .container{
        grid-template-columns: 1fr;
    }

    .centered-text {
        width: 90%; /* Adjust the width for smaller screens */
    }
}